apiVersion: apps/v1
kind: Deployment
metadata:
  name: diabetes-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: diabetes-db
  template:
    metadata:
      labels:
        app: diabetes-db
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
        - name: POSTGRES_DB
          value: "diabetes_db"
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "password"
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-data
        emptyDir: {}